<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>signUp</title>
</head>
<body>
  <div>
    <h1>ユーザ登録画面</h1>
  </div>
  <div>
    <label>Name</label>
    <input type="text">
    <label>Email</label>
    <input type="email">
    <label>Password</label>
    <input type="password">
  </div>
  <div>
    <button>SignUp</button>
  </div>
  <div>
    <a href="<%= signInlink.href %>"><%= signInlink.text %></a>
  </div>
</body>
</html>