<div>
  <h1>ログイン画面</h1>
</div>
<div>
  <label>Email</label>
  <input type="email">
  <label>Password</label>
  <input type="password">
</div>
<div>
  <button>SignIn</button>
</div>
<div>
  <a href="<%= link.href %>"><%= link.text %></a>
</div>